<!DOCTYPE html>
<html>
	<h1>Class Hierarchy </h1>
<!--%= debug params[:top] %-->

<% time = Benchmark.measure do %>
<% @klasses = Kernel.const_get(params[:top].nil? ? 'Object' : params[:top]).subclasses %>
<% end %>
<% @klasses.each { |klass|  %>
<%= klass %>
<br>
<% } %>
<%= time %>




